<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{common/layout :: layout(~{::div})}">
<body>
<div>
    <div class="layui-card">
        <div class="layui-card-header">现场管理</div>
        <div class="layui-card-body">
            <form class="layui-form" style="display: flex; justify-content: space-between; margin-bottom: 10px;">
                <div style="display: flex; gap: 10px;">
                    <div class="layui-inline">
                        <input class="layui-input" name="name" placeholder="搜索现场名称" autocomplete="off">
                    </div>
                    <button class="layui-btn" lay-submit lay-filter="search">
                        <i class="layui-icon layui-icon-search"></i> 搜索
                    </button>
                </div>
                <div>
                    <button type="button" class="layui-btn layui-btn-normal" id="addBtn">
                        <i class="layui-icon layui-icon-add-1"></i> 新增现场
                    </button>
                </div>
            </form>
            
            <table id="siteTable" lay-filter="siteTable"></table>
            
            <script type="text/html" id="barDemo">
                <a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>
                <a class="layui-btn layui-btn-normal layui-btn-xs" lay-event="users">用户</a>
                <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
            </script>
        </div>
    </div>

    <script>
        layui.use(['table', 'layer', 'form', 'jquery'], function(){
            var table = layui.table;
            var layer = layui.layer;
            var form = layui.form;
            var $ = layui.jquery;
            
            // Render Table
            table.render({
                elem: '#siteTable',
                url: '/site/api/list',
                cols: [
                    [
                        {type: 'numbers', title: '序号', width: 80},
                        {field: 'name', title: '现场名称', width: 200},
                        {field: 'description', title: '描述'},
                        {field: 'createdAt', title: '创建时间', width: 180},
                        {fixed: 'right', title:'操作', toolbar: '#barDemo', width: 200}
                    ]
                ],
                page: true
            });
            
            // Search
            form.on('submit(search)', function(data){
                table.reload('siteTable', {
                    where: data.field,
                    page: { curr: 1 }
                });
                return false;
            });
            
            // Add Button
            $(document).on('click', '#addBtn', function(){
                openForm();
            });
            
            // Tool Bar
            table.on('tool(siteTable)', function(obj){
                var data = obj.data;
                if(obj.event === 'del'){
                    layer.confirm('真的删除该现场吗？', function(index){
                        var token = $("meta[name='_csrf']").attr("content");
                        var header = $("meta[name='_csrf_header']").attr("content");
                        
                        $.ajax({
                            url: '/site/delete/' + data.id,
                            type: 'POST',
                            beforeSend: function(xhr) {
                                xhr.setRequestHeader(header, token);
                            },
                            success: function(res){
                                if(res.code === 0){
                                    obj.del();
                                    layer.msg('删除成功');
                                } else {
                                    layer.msg(res.msg);
                                }
                            }
                        });
                        layer.close(index);
                    });
                } else if(obj.event === 'edit'){
                    openForm(data.id);
                } else if(obj.event === 'users'){
                    openUsers(data.id);
                }
            });
            
            function openUsers(id) {
                layer.open({
                    type: 2,
                    title: '配置用户',
                    content: '/site/users?id=' + id,
                    area: ['800px', '600px']
                });
            }
            
            function openForm(id) {
                var url = '/site/form';
                if (id) {
                    url += '?id=' + id;
                }
                
                layer.open({
                    type: 2,
                    title: id ? '编辑现场' : '新增现场',
                    content: url,
                    area: ['500px', '400px'],
                    end: function(){
                        table.reload('siteTable');
                    }
                });
            }
        });
    </script>
</div>
</body>
</html>
