<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      th:replace="~{common/layout :: layout(~{::div})}">
<body>
<div>
    <div class="layui-card">
        <div class="layui-card-header">安全设置</div>
        <div class="layui-card-body">
            <form class="layui-form" lay-filter="securityForm" style="width: 500px;">
                <div class="layui-form-item">
                    <label class="layui-form-label">原密码</label>
                    <div class="layui-input-block">
                        <input type="password" name="oldPassword" required lay-verify="required" placeholder="请输入原密码" autocomplete="off" class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">新密码</label>
                    <div class="layui-input-block">
                        <input type="password" name="newPassword" required lay-verify="required|pass" placeholder="请输入新密码" autocomplete="off" class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">确认新密码</label>
                    <div class="layui-input-block">
                        <input type="password" name="confirmPassword" required lay-verify="required|confirmPass" placeholder="请再次输入新密码" autocomplete="off" class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item">
                    <div class="layui-input-block">
                        <button class="layui-btn" lay-submit lay-filter="securitySubmit">修改密码</button>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <script>
        layui.use(['form', 'jquery', 'layer'], function(){
            var form = layui.form;
            var $ = layui.jquery;
            var layer = layui.layer;
            
            // Custom Verification
            form.verify({
                pass: [
                    /^[\S]{6,12}$/
                    ,'密码必须6到12位，且不能出现空格'
                ],
                confirmPass: function(value){
                    var pass = $('input[name=newPassword]').val();
                    if(value !== pass){
                        return '两次密码输入不一致';
                    }
                }
            });
            
            form.on('submit(securitySubmit)', function(data){
                var token = $("meta[name='_csrf']").attr("content");
                var header = $("meta[name='_csrf_header']").attr("content");
                
                $.ajax({
                    url: '/profile/security',
                    type: 'POST',
                    contentType: 'application/json',
                    data: JSON.stringify(data.field),
                    beforeSend: function(xhr) {
                        if(header && token) xhr.setRequestHeader(header, token);
                    },
                    success: function(res){
                        if(res.code === 0){
                            layer.msg('密码修改成功，请重新登录', {icon: 1}, function(){
                                location.href = '/logout'; // Redirect to logout or login
                            });
                        } else {
                            layer.msg(res.msg, {icon: 2});
                        }
                    },
                    error: function(){
                        layer.msg('请求失败', {icon: 2});
                    }
                });
                return false;
            });
        });
    </script>
</div>
</body>
</html>
